*~
*.swp
*.bak
*.tmp
.DS_Store

*.o
*.obj
*.class
*.dll
*.exe

*.log
*.log.*

.cache/
.caches/

.idea/
.vscode/
.project
.lock
.classpath

node_modules/
vendor/

.env
.env.local
.env.*.local
.patch
.bin
.properties
.tab
.xml

.ssh/
*.pem
*.key
*.secret

dist/
build/
out/
/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
